//scss code here if needed :)
$warning : #FFC902;
$primary : #1476B3;

.hidden{
     display: none;
}

h1, h2,h3{
    font-family: 'Montserrat', sans-serif;

}
p,a, input::placeholder, textarea::placeholder{
    font-family: 'Open Sans', sans-serif;

}
.postImage{
    width: 100% !important;
}
/*inspiration from https://stackoverflow.com/questions/70662496/how-will-i-make-perfect-circle-image-using-card-in-bootstrap-5
with some extra fixes since boostrap ratio makes things big..*/

.profileImage{
    position: relative;
    --bs-aspect-ratio: 100%;
    overflow: hidden;
    width: 8.3333333% !important;
}
.profileImage img{
    object-fit: cover;
    object-position: center;
}
@import"../node_modules/bootstrap/scss/bootstrap.scss";