//scss code here if needed :)
$warning : #FFC902;
$primary : #1476B3;

.hidden{
     display: none;
}

h1, h2,h3{
    font-family: 'Montserrat', sans-serif;

}
p,a{
    font-family: 'Open Sans', sans-serif;

}
.profileImage{
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    width: auto;
}
@import"../node_modules/bootstrap/scss/bootstrap.scss";